/* h1{
    color: blue;
}
body{
    background-color: pink;
}
button{
    background-color: bisque;
} */
 /* .box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin:10px;
    text-align: center;
    background-color: bisque;
 } */
  /* #box{
    height: 250px;
    width: 100px;
    background-color: yellowgreen;
    color: brown;
    border: 1px solid black;
  } */
   /* .para{
      color: red;
   }
   .newClass{
    background-color: green;
   } */
    /* div{
        height: 100px;
        width: 100px;
        background-color: blue;
        color: wheat;
        border: 1px black solid;
    } */
     button{
        background-color: chocolate;
        color:yellowgreen;
     }
     .dark{
        background-color: black;
        color: white;
     }
     .light{
        background-color: white;
        color: black;
     }
      /* div{
        height: 100px;
        width: 100px;
        border: 1px solid black;
        color: black;
        background-color: beige;
      } */